body{
    margin:50px;;
    padding:0;
    background-color:#999;
}

.test{
    color:black;
}
li {
   
    
}
a{
    text-decoration:none;
    color:blue;
}
a:hover{
    color:#343436;
}
